.clock-container {
  display: flex;
  margin: 4rem auto;
  width: $clock-size;
  height: $clock-size;
  border-radius: $clock-size;
  // text-align: center;
  align-items: center;
  // vertical-align: middle;
  justify-content: center;
}

.clock-timer {
  // display: block;
}

.controls-container {
  > .button {
    width: 46%;
  }
  > .button:first-child {
    margin-right: 1rem;
  }
}

// .controls-container {
//   display: flex;
//   justify-content: center;
//
//   > .button {
//     padding: 0.75rem 3rem;;
//   }
//
//   > .button:first-child {
//     margin-right: 1.5rem;
//   }
// }
